.doc {
    font-family: 'Lato', sans-serif;
}

.small {
    font-size: 50%;
}

a.external::after {
    content: " 🌐";
    font-size: xx-small;
    vertical-align: super
}

.text-justify {
    text-align: justify;
}

mark {
    background-color: honeydew;
    font-variant: small-caps;
    font-stretch: extra-expanded;
    border: 1px solid #40c3be;
    padding: 4px;
    padding-top: 1px;
}

strong {
    font-weight: bold;
}

.doc .admonitionblock.note.todo .icon i::after {
    content: "TODO";
}

.doc .admonitionblock.note.todo .icon {
    background-color: burlywood !important;
    color: #fff;
}

.doc .admonitionblock.note.todo td.content {
    background-color: rgb(255, 244, 242);
}